!!! html5
%head
  %meta{charset:"utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1"}
  %title Chord Search
  %meta{name:"viewport", content:"width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{rel:"stylesheet", href:"/css/flashchords.css?v=1"}
  %link{rel:"stylesheet", href:"/css/style.css?v=1"}

%body
  .container
    .header
      .search
        .chord
          %h1
            %a{href:'/'}= "chord search"
            = '/'
            %a{href: "/#{@instrument}/"}= @instrument
          - @search_chord.data.each do |string, fret|
            .string{class:"s_#{string}#{' last' if string == @search_chord.strings.last}#{' first' if string == @search_chord.strings.first}"}
              - ('1'..'12').each do |this_fret|
                .fret{class: "fr_#{this_fret}"}
                  - if @query[string] == this_fret
                    %a.finger-position{href:@search_chord.class.search_path(@query.reject { |k,v| k == string }), title: 'remove'}
                      .finger
                  - else
                    %a.finger-position{href:@search_chord.class.search_path(@query.merge(string => this_fret)), title:'add'}
                      .finger.hidden

    #main
      - if @chords.empty?
        - if @query.empty?
          just click on a fret position and we'll find chords that include the selected tone.
        - else
          %p
            oops, we don't know a chord like this. try something else instead?
          %p
            <i>(click a position again to remove it from your chord search.)</i>
      - else
        - @chords.each do |chord|
          .chord
            %h1
              %a{href: chord.url_html}= chord.name
            - chord.data.each do |string, fret|
              .string{class:"s_#{string}#{' quiet' if fret == 'x'}#{' last' if string == @search_chord.strings.last}#{' first' if string == @search_chord.strings.first}"}
                - ('1'..'12').each do |this_fret|
                  .fret{class: "fr_#{this_fret}"}
                    - if fret == this_fret
                      .finger-position
                        .finger{class: ('queried' if @query.has_key?(string))} &nbsp;

  .footer.wide
    .info
      %p this is a pet project by #{'<a href="http://fronx.wurmus.de/">fronx</a>'}.
      %p you should fork his #{'<a href="https://github.com/fronx/chordsearch">code</a>'}.
