!!! html5
%head
  %meta{charset:"utf-8"}
  %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1"}
  %title Chord Search
  %meta{name:"viewport", content:"width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %link{rel:"stylesheet", href:"/css/reset.css?v=3.1"}
  %link{rel:"stylesheet", href:"/css/style.css?v=4.2"}

%body
  .container
    - if @collection
      .collection
        %h1
          chord collection:
          %a{href:"/#{@search_chord.class.instrument}?c=#{@collection.name}"}= @collection.name
        - @collection.chords.each do |chord|
          .chord
            %h1
              %a{href: chord.url_html}= chord.name
              - if chord.class.respond_to?(:string_sets)
                %a.play-chord{href:"##{chord.key}"} play
            = render :haml, :chord, :locals => {:chord => chord}
    .header
      .search
        .chord
          %h1
            %a{href:'/'}= "chord search"
            = '/'
            %a{href: "/#{@search_chord.class.instrument}/"}= @search_chord.class.instrument
          = render :haml, :chord, :locals => {:chord => @search_chord}

    #main
      - if @chords.empty?
        - if @query.empty?
          just click on a fret position and we'll find chords that include the selected tone.
        - else
          %p
            oops, we don't know a chord like this. try something else instead?
          %p
            <i>(click a position again to remove it from your chord search.)</i>
      - else
        - @chords.each do |chord|
          .chord
            %h1
              %a{href: chord.url_html}= chord.name
              - if @collection
                %a.add{href:"#{request.path}/add/#{@collection.name}/#{chord.path_html}"}= "add to #{@collection.name}"
              - if chord.class.respond_to?(:string_sets)
                %a.play-chord{href:"##{chord.key}"} play
            = render :haml, :chord, :locals => {:chord => chord}

  - if @search_chord.class.respond_to?(:string_sets)
    #chord-player{'cp-string-count' => @search_chord.class.strings.length }
      - @search_chord.class.strings.each_with_index do |string, index|
        - player_id = "chord_player_#{index}_#{string}"
        - player_url = "http://player.soundcloud.com/player.swf?url=#{CGI.escape(@search_chord.class.string_sets[index])}&enable_api=true&object_id=#{player_id}&single_active=false&show_user=false&show_comments=false&auto_play=false&start_track=0"
        %object{height:"0", width:"100%", id:player_id, classid:"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"}
          %param{name:"movie", value:player_url}
          %param{name:"allowscriptaccess", value:"always"}
          %embed{allowscriptaccess:"always", height:"0", src:player_url, type:"application/x-shockwave-flash", width:"100%", name:player_id}
      %script{type:"text/javascript", src:"/js/jquery.js"}
      %script{type:"text/javascript", src:"/js/soundcloud.player.api.js"}
      %script{type:"text/javascript", src:"/js/chord-player.js?v=3"}

  .footer.wide
    .info
      %p this is a pet project by #{'<a href="http://fronx.wurmus.de/">fronx</a>'}.
      %p you should fork his #{'<a href="https://github.com/fronx/chordsearch">code</a>'}.
